/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Editor Styles */
body {
    color: #eee;
    line-height:1.5;
    font-family:Georgia, serif;
    font-weight:100;
    background-color:#111;
}

#controls {
    text-align:center;
    padding:1em;
    background-color:#eee;
    color:#111;
}

h1 {
    text-transform: uppercase;
    letter-spacing:.5em;
    font-size:1.2em;
    font-weight:300;
    text-align:center;
}

/* Temp image details Styles */
#temp-loaded-images img {
    width: 100px;
    height: auto;
    margin:0.5em 1em 0 0.5em;
}

/* Row-Layout styles */
p, .row-container {
    width:80%;
    max-width:1600px;
    margin:0 auto;
}

.row {
    overflow:hidden;
    position:relative;
    margin: 10px 0;
    transition: height ease-out 0.5s;
}

.enable-spacers .row {
    margin: 0;
}

.row img {
    position:absolute;
    z-index:0;
    top:0;
    display:block;
    transition: left ease-out 0.5s,
                top ease-out 0.5s,
                width ease-out 0.5s,
                height ease-out 0.5s,
                transform ease 0.5s;
    transform: translate3D(0,0,0);
}

.row img.dragged {
    opacity: 0.5;
    transform: scale(0.9);
}

.row img.forcetop {
    z-index:2;
}

.dropTarget {
    position: absolute;
    background-color:#fff;
    opacity:0;
    z-index: 1;
}

.dropTarget.active {
    opacity: 0.5;
}

/* Text View Styles */
#text-view {
    padding: 0.5em;
    color: #666;
    background-color:#333;
}

#text-view p {
    margin:1em auto;
    white-space:pre;
}
